<div class="container-fluid">
    <h1>
        <a href="#/{{ photo.parent.slug }}" ng-if="photo.parent" class="small">
            <i class="ion-chevron-left"></i>
            {{ photo.parent.name }}
        </a>

        {{ photo.name }}
    </h1>

    <a href="" ng-click="setCover()">
        <i class="ion-image"></i>
        Set as directory cover
    </a>

    <div 
        class="opium-photo-move-container"
        ng-swipe-right="previous()"
        ng-swipe-left="next()"
    >
        <img ng-src="{{ photo._links.original.href }}" class="img-responsive ion-load-c" />

        <div class="opium-photo-move opium-photo-previous"
                ng-if="photo.previous"
        >
            <a href="#/{{photo.parent.slug}}/{{ photo.previous.slug }}">
                <span>
                    <i class="ion-chevron-left"></i>
                </span>
            </a>
        </div>

        <div class="opium-photo-move opium-photo-next"
            ng-if="photo.next"
        >
            <a href="#/{{photo.parent.slug}}/{{ photo.next.slug }}">
                <i class="ion-chevron-right"></i>
            </a>
        </div>
    </div>

    <leaflet markers="markers" center="mapCenter"></leaflet>
</div>
