img {
    image-orientation: from-image;
}

.inbl {
    display: inline-block;
}

.center {
    margin: 0 auto;
}

.txtcenter {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.opium-photo-move-container {
    position: relative;
}
.opium-photo-move, .opium-photo-move > a {
    position: absolute;
    top: 0;
    height: 100%;
    width: 25%;
}
.opium-photo-move > a {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 10em;
}

.opium-photo-move:hover > a {
    display: flex;
}

.opium-photo-previous {
    left: 0;
}

.opium-photo-next {
    right: 0;
}

.opium-thumbnail-container {
    display: inline-block;
}

.opium-thumbnail {
    margin: 5px;
    // width: 200px;
    // height: 200px;
    position: relative;
    > a {
        display: block;
    }
}

.opium-thumbnail .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    text-align: center;
}

.no-thumbnail {
    font-size: 160px;
    line-height: 200px;
    text-align: center;
}

.mb1 {
    margin-bottom: 1em;
}

.selected {
    box-shadow: 0 0 6px #000;
}

.ball-pulse > div {
    background: #428bca;
}

.header {
    position: relative;
    background-position: center center;
    background-size: cover;
        margin-bottom: 80px;

    &.cover {
        height: 400px;

        h1 {
            color: #fff;
        }
    }

    h1 {
        text-align: center;
        font-size: 54px;
        margin-top: 70px;
    }

    .map {
        width: 110px;
        height: 110px;
    }

    .map-container {
        position: absolute;
        bottom: -55px;
        left: 50%;
        margin-left: -55px;

        .map {
            z-index: 1;
            border-radius: 50%;
            cursor: pointer;
        }
    }


    img.banner {
        position: absolute;
        top: 0;
        left: 0;
    }
}

.back {
    display: inline-block;
    margin: 1em;
    font-size: 1.2em;
    color: #899eaf;
}

.cover .back {
    text-shadow: 1px 1px 1px #000;
}

